absl-py==1.0.0
ansicon==1.89.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.8
astunparse==1.6.3
atomicwrites==1.4.1
attrs==22.1.0
autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.11.1
binarytree==6.5.1
bleach==5.0.0
blessed==1.19.1
blessings==1.7
bpython==0.23
cachetools==5.0.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.1.1
colorama==0.4.5
coverage==6.4.4
cryptography==37.0.4
curtsies==0.4.0
cwcwidth==0.1.7
cycler==0.11.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Django==4.1.1
django-crispy-forms==1.8.1
django-extensions==2.2.5
django-filter==2.2.0
django-taggit==1.3.0
djangorestframework==3.11.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.0.0
fastjsonschema==2.15.3
flatbuffers==2.0
fonttools==4.37.1
gast==0.5.3
google-auth==2.6.4
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
greenlet==1.1.3
grpcio==1.44.0
gunicorn==20.1.0
h5py==3.6.0
idna==3.3
iniconfig==1.1.1
ipykernel==6.13.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
jinxed==1.2.0
joblib==1.1.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
libclang==13.0.0
Markdown==3.1.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.6
mistune==0.8.4
mysql-connector-python==8.0.30
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
notebook==6.4.11
numpy==1.23.2
oauthlib==3.2.0
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
pluggy==1.0.0
prometheus-client==0.14.1
prompt-toolkit==3.0.31
protobuf==3.20.0
psutil==5.9.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.2
Pygments==2.13.0
PyJWT==2.4.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.1.3
pytest-cov==3.0.0
pytest-html==3.1.1
pytest-metadata==2.0.2
python-dateutil==2.8.2
python3-openid==3.2.0
pytz==2022.2.1
pywin32==303
pywinpty==2.0.5
pyxdg==0.28
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.1.0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
Send2Trash==1.8.0
setuptools-scm==6.4.2
six==1.16.0
social-auth-app-django==3.1.0
social-auth-core==3.3.3
soupsieve==2.3.2.post1
sqlparse==0.4.2
stack-data==0.5.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
terminado==0.15.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
tornado==6.1
traitlets==5.3.0
typing_extensions==4.3.0
tzdata==2022.2
urllib3==1.26.12
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.1
widgetsnbextension==3.6.0
windows-curses==2.3.0
wrapt==1.14.0
