{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@components": "./src/components",
          "@header": "./src/components/header/",
          "@utils": "./src/utils",
          "@pub": "./public/"
          // Add more aliases as needed
        }
      }
    ]
  ]
}
